# Deadly Visualizations!!!

![Image](../images/viz_types_portada.png)

## Setup

First we need to create a basic setup which includes:

- Importing the libraries.

- Reading the dataset file (source [Instituto Nacional de Estadística](https://www.ine.es/ss/Satellite?L=es_ES&c=Page&cid=1259942408928&p=1259942408928&pagename=ProductosYServicios%2FPYSLayout)).

- Create a couple of columns and tables for the analysis.

__NOTE:__ some functions were already created in order to help you go through the challenge. However, feel free to perform any code you might need.

In [1]:
# imports

import sys
import re
sys.path.insert(0, "../modules")

import numpy as np
import pandas as pd

import plotly.express as px
import cufflinks as cf
cf.go_offline()

import module as mod     # functions are include in module.py

In [5]:
# read dataset

deaths = pd.read_csv('../data/7947.csv', sep=';', thousands='.')

deaths.info()

deaths["Causa de muerte"].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301158 entries, 0 to 301157
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Causa de muerte  301158 non-null  object
 1   Sexo             301158 non-null  object
 2   Edad             301158 non-null  object
 3   Periodo          301158 non-null  int64
 4   Total            301158 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.5+ MB

array(['001-102  I-XXII.Todas las causas',
       '001-008  I.Enfermedades infecciosas y parasitarias',
       '001  Enfermedades infecciosas intestinales',
       '002  Tuberculosis y sus efectos tardíos',
       '003  Enfermedad meningocócica', '004  Septicemia',
       '005  Hepatitis vírica', '006  SIDA',
       '007  VIH+ (portador, evidencias de laboratorio del VIH, ...)',
       '008  Resto de enfermedades infecciosas y parasitarias y sus efectos tardíos',
       '009-041  II.Tumores',
       '009  Tumor maligno del labio, de la cavidad bucal y de la faringe',
       '010  Tumor maligno del esófago',
       '011  Tumor maligno del estómago', '012  Tumor maligno del colon',
       '013  Tumor maligno del recto, de la porción rectosigmoide y del ano',
       '014  Tumor maligno del hígado y vías biliares intrahepáticas',
       '015  Tumor maligno del páncreas',
       '016  Otros tumores malignos digestivos',
       '017  Tumor maligno de la laringe',
       '018  Tumor maligno de la tráquea, de los bronquios y del pulmón',
       '019  Otros tumores malignos respiratorios e intratorácicos',
       '020  Tumores malignos del hueso y de los cartílagos articulares',
       '021  Melanoma maligno de la piel',
       '022  Otros tumores malignos de la piel y de los tejidos blandos',
       '023  Tumor maligno de la mama',
       '024  Tumor maligno del cuello del útero',
       '025  Tumor maligno de otras partes del útero',
       '026  Tumor maligno del ovario',
       '027  Tumores malignos de otros órganos genitales femeninos',
       '028  Tumor maligno de la próstata',
       '029  Tumores malignos de otros órganos genitales masculinos',
       '030  Tumor maligno del riñón, excepto pelvis renal',
       '031  Tumor maligno de la vejiga',
       '032  Otros tumores malignos de las vías urinarias',
       '033  Tumor maligno del encéfalo',
       '034  Otros tumores malignos neurológicos y endocrinos',
       '035  Tumor maligno de sitios mal definidos, secundarios y de sitios no especificados',
       '036  Tumores malignos del tejido linfático, de los órganos hematopoyéticos y de tejidos afines, excepto leucemia',
       '037  Leucemia', '038  Tumores in situ', '039  Tumores benignos',
       '040  Síndrome mielodisplásico',
       '041  Otros tumores de comportamiento incierto o desconocido',
       '042-043  III.Enfermedades de la sangre y de los órganos hematopoyéticos, y ciertos trastornos que afectan al mecanismo de la inmunidad',
       '042 Enfermedades de la sangre y de los órganos hematopoyéticos',
       '043 Ciertos trastornos que afectan al mecanismo de la inmunidad',
       '044-045  IV.Enfermedades endocrinas, nutricionales y metabólicas',
       '044  Diabetes mellitus',
       '045  Otras enfermedades endocrinas, nutricionales y metabólicas',
       '046-049  V.Trastornos mentales y del comportamiento',
       '046  Trastornos mentales orgánicos, senil y presenil',
       '047  Trastornos mentales debidos al uso de alcohol',
       '048  Trastornos mentales debidos al uso de drogas (drogodependencia, toxicomanía)',
       '049  Otros trastornos mentales y del comportamiento',
       '050-052  VI-VIII.Enfermedades del sistema nervioso y de los órganos de los sentidos',
       '050  Meningitis (otras en 003)', '051  Enfermedad de Alzheimer',
       '052  Otras enfermedades del sistema nervioso y de los órganos de los sentidos',
       '053-061 IX.Enfermedades del sistema circulatorio',
       '053  Enfermedades cardíacas reumáticas crónicas',
       '054  Enfermedades hipertensivas',
       '055  Infarto agudo de miocardio',
       '056  Otras enfermedades isquémicas del corazón',
       '057  Insuficiencia cardíaca',
       '058 Otras enfermedades del corazón',
       '059  Enfermedades cerebrovasculares', '060  Aterosclerosis',
       '061  Otras enfermedades de los vasos sanguíneos',
       '062-067  X.Enfermedades del sistema respiratorio',
       '062  Influenza (gripe) (incluye gripe aviar y gripe A)',
       '063  Neumonía',
       '064  Enfermedades crónicas de las vías respiratorias inferiores (excepto asma)',
       '065  Asma', '066  Insuficiencia respiratoria',
       '067  Otras enfermedades del sistema respiratorio',
       '068-072  XI.Enfermedades del sistema digestivo',
       '068  Úlcera de estómago, duodeno y yeyuno',
       '069  Enteritis y colitis no infecciosas',
       '070  Enfermedad vascular intestinal',
       '071  Cirrosis y otras enfermedades crónicas del hígado',
       '072  Otras enfermedades del sistema digestivo',
       '073  XII.Enfermedades de la piel y del tejido subcutáneo',
       '074-076  XIII.Enfermedades del sistema osteomuscular y del tejido conjuntivo',
       '074  Artritis reumatoide y osteoartrosis',
       '075  Osteoporosis y fractura patológica',
       '076  Otras enfermedades del sistema osteomuscular y del tejido conjuntivo',
       '077-080  XIV.Enfermedades del sistema genitourinario',
       '077  Enfermedades del riñón y del uréter',
       '078  Enfermedades de los órganos genitales masculinos',
       '079  Enfermedades de los órganos genitales femeninos y trastornos de la mama',
       '080  Otras enfermedades del sistema genitourinario',
       '081  XV.Embarazo, parto y puerperio',
       '082  XVI.Afecciones originadas en el periodo perinatal',
       '083-085  XVII.Malformaciones congénitas, deformidades y anomalías cromosómicas',
       '083  Malformaciones congénitas del sistema nervioso',
       '084  Malformaciones congénitas del sistema circulatorio',
       '085  Otras malformaciones congénitas, deformidades y anomalías cromosómicas',
       '086-089  XVIII.Síntomas, signos y hallazgos anormales clínicos y de laboratorio, no clasificados en otra parte',
       '086 Paro cardíaco, muerte sin asistencia y otra causa desconocida de mortalidad',
       '087  Senilidad', '088 Muerte súbita infantil',
       '089  Resto de síntomas, signos y hallazgos anormales clínicos y de laboratorio, no clasificados en otra parte',
       '090-102  XX.Causas externas de mortalidad',
       '090  Accidentes de tráfico',
       '091  Otros accidentes de transporte', '092  Caídas accidentales',
       '093  Ahogamiento, sumersión y sofocación accidentales',
       '094  Accidentes por fuego, humo y sustancias calientes',
       '095  Envenenamiento accidental por psicofármacos y drogas de abuso',
       '096  Otros envenenamientos accidentales', '097  Otros accidentes',
       '098  Suicidio y lesiones autoinfligidas',
       '099  Agresiones (homicidio)',
       '100  Eventos de intención no determinada',
       '101  Complicaciones de la atención médica y quirúrgica',
       '102  Otras causas externas y sus efectos tardíos'], dtype=object)

In [10]:
# add some columns...you'll need them later

deaths['cause_code'] = deaths['Causa de muerte'].apply(mod.cause_code)
deaths['cause_group'] = deaths['Causa de muerte'].apply(mod.cause_types)
deaths['cause_name'] = deaths['Causa de muerte'].apply(mod.cause_name)

deaths.info()

deaths.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301158 entries, 0 to 301157
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Causa de muerte  301158 non-null  object
 1   Sexo             301158 non-null  object
 2   Edad             301158 non-null  object
 3   Periodo          301158 non-null  int64
 4   Total            301158 non-null  int64
 5   cause_code       301158 non-null  object
 6   cause_group      301158 non-null  object
 7   cause_name       301158 non-null  object
dtypes: int64(2), object(6)
memory usage: 18.4+ MB

,Causa de muerte,Sexo,Edad,Periodo,Total,cause_code,cause_group,cause_name
301153,102 Otras causas externas y sus efectos tardíos,Mujeres,95 y más años,1984,0,102,Single cause,Otras causas externas y sus efectos tardíos
301154,102 Otras causas externas y sus efectos tardíos,Mujeres,95 y más años,1983,0,102,Single cause,Otras causas externas y sus efectos tardíos
301155,102 Otras causas externas y sus efectos tardíos,Mujeres,95 y más años,1982,0,102,Single cause,Otras causas externas y sus efectos tardíos
301156,102 Otras causas externas y sus efectos tardíos,Mujeres,95 y más años,1981,0,102,Single cause,Otras causas externas y sus efectos tardíos
301157,102 Otras causas externas y sus efectos tardíos,Mujeres,95 y más años,1980,0,102,Single cause,Otras causas externas y sus efectos tardíos

In [11]:
# lets check the categorical variables

var_list = ['Sexo', 'Edad', 'Periodo', 'cause_code', 'cause_name', 'cause_group']

categories = mod.cat_var(deaths, var_list)
categories

,categorical_variable,number_of_possible_values,values
0,cause_code,117,"[001-102, 001-008, 001, 002, 003, 004, 005, 00..."
1,cause_name,117,"[I-XXII.Todas las causas, I.Enfermedades infec..."
2,Periodo,39,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201..."
3,Edad,22,"[Todas las edades, Menos de 1 año, De 1 a 4 añ..."
4,Sexo,3,"[Total, Hombres, Mujeres]"
5,cause_group,2,"[Multiple causes, Single cause]"

In [12]:
# we need also to create a causes table for the analysis

causes_table = deaths[['cause_code', 'cause_name']].drop_duplicates().sort_values(by='cause_code').reset_index(drop=True)

causes_table

    cause_code                                         cause_name
0          001              Enfermedades infecciosas intestinales
1      001-008          I.Enfermedades infecciosas y parasitarias
2      001-102                            I-XXII.Todas las causas
3          002                 Tuberculosis y sus efectos tardíos
4          003                           Enfermedad meningocócica
..         ...                                                ...
112        098                 Suicidio y lesiones autoinfligidas
113        099                             Agresiones (homicidio)
114        100                Eventos de intención no determinada
115        101  Complicaciones de la atención médica y quirúrgica
116        102        Otras causas externas y sus efectos tardíos

[117 rows x 2 columns]

In [ ]:
# And some space for free-style Pandas!!! (e.g.: df['column_name'].unique())

## Lets make some transformations

Eventhough the dataset is pretty clean, the information is completely denormalized as you could see. For that matter a collection of methods (functions) are available in order to generate the tables you might need:

- `row_filter(df, cat_var, cat_values)` => Filter rows by any value or group of values in a categorical variable.

- `nrow_filter(df, cat_var, cat_values)` => The same but backwards. 

- `groupby_sum(df, group_vars, agg_var='Total', sort_var='Total')` => Add deaths by a certain variable.

- `pivot_table(df, col, x_axis, value='Total')`=> Make some pivot tables, you might need them...

__NOTE:__ be aware that the filtering methods can perform a filter at a time. Feel free to perform the filter you need in any way you want or feel confortable with.

In [13]:
# Example 1
'''
dataset = mod.row_filter(deaths, 'Sexo', ['Total'])
dataset = mod.row_filter(dataset, 'Edad', ['Todas las edades'])
dataset.head()
'''

"\ndataset = mod.row_filter(deaths, 'Sexo', ['Total'])\ndataset = mod.row_filter(dataset, 'Edad', ['Todas las edades'])\ndataset.head()\n"

In [14]:
# Example 2
'''
group = ['cause_code','Periodo']
dataset = mod.groupby_sum(deaths, group)
dataset.head()
'''

"\ngroup = ['cause_code','Periodo']\ndataset = mod.groupby_sum(deaths, group)\ndataset.head()\n"

In [15]:
# Example 3
'''
dataset = mod.pivot_table(dataset, 'cause_code', 'Periodo')
dataset.head()
'''

"\ndataset = mod.pivot_table(dataset, 'cause_code', 'Periodo')\ndataset.head()\n"

## ...and finally, show me some insights with Plotly!!!

In [ ]:
# Cufflinks histogram
'''
dataset_column.iplot(kind='hist',
                     title='VIZ TITLE',
                     yTitle='AXIS TITLE',
                     xTitle='AXIS TITLE')
'''

In [ ]:
# Cufflinks bar plot
'''
dataset_bar.iplot(kind='bar',
                  x='VARIABLE',
                  xTitle='AXIS TITLE',
                  yTitle='AXIS TITLE',
                  title='VIZ TITLE')
'''

In [ ]:
# Cufflinks line plot
'''
dataset_line.iplot(kind='line',
                   x='VARIABLE',
                   xTitle='AXIS TITLE',
                   yTitle='AXIS TITLE',
                   title='VIZ TITLE')
'''

In [ ]:
# Cufflinks scatter plot
'''
dataset_scatter.iplot(x='VARIABLE', 
                      y='VARIABLE', 
                      categories='VARIABLE',
                      xTitle='AXIS TITLE', 
                      yTitle='AXIS TITLE',
                      title='VIZ TITLE')
'''